APP_NAME=url-shortener-service
NODE_ENV=development
PORT=4000
CORS_ORIGIN=*

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=url_user
POSTGRES_PASSWORD=url_password
POSTGRES_DB=url_shortener
POSTGRES_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

LOG_LEVEL=info
